# config datasource
spring:
  datasource:       # 数据源配置
    url:
      jdbc:mysql://localhost:3306/lab?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username:
      root
    password:
      root
    driver-class-name:
      com.mysql.cj.jdbc.Driver
  thymeleaf:        # thymeleaf模板
    mode: HTML
    encoding: UTF-8
    content-type: text/html
    cache: false    # 开发时暂时把缓存关闭掉，开发完成后再打开缓存
  redis:            # 配置redis缓存
    host: 127.0.0.1
    port: 6379
    timeout: 2000

# 上传下载

  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/,file:${web.upload-path}
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
logging:
  file:
    path: D:/test/
web:
  upload-path: D:/testUplpad/



# config mybatis
mybatis:
  type-aliases-package:
    com.ranji.lab.entity
  configuration:
    use-generated-keys: true
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# config mybatis pagehelper
pagehelper:
  helper-dialect: mysql
  reasonable: true

# config server
server:
  servlet:
    context-path: /lab
  port: 8080

# flowable workflow engine
flowable:
  async-executor-activate: false #关闭定时任务JOB




